.events-container {
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.event-container {
    background-color: #9c6443;
    color: #282c34;
    border:1px solid black;
    border-radius: 1em;
    width:100%;
    margin:10px
}

.event-section {
    border-bottom: 1px solid black;
    padding:.5em;
}

.blue-color{
	background-color: #11a4d0;
}

.event-last-section {
    border-bottom: 0;
    display: flex;
}
