.form_possible_contact {
    width:40%;
    border: 1px solid black;
    padding:1em;
    text-align: center;
}

.form_possible_contact label {
    margin-right: 1em;
}

.form_section {
    padding:1em;
    border-bottom: 1px solid black;
}

.btn_section {
    text-align: center;
}

.syntoms {
    text-align: left;
}

.submit_btn {
    width:80%;
    height: 3em;
    font-size: 1em;
    background-color: cornflowerblue;
    color:white;
    border-radius: 20px;
}