.btn {
    width:40%;
    height: 3em;
    font-size: 1em;
    background-color: cornflowerblue;
    color:white;
    border-radius: 20px;
    margin: 20px;
}

.confirm-btn {
    background-color: red;
}


.negative-btn {
    background-color: teal;
    
}

.report-covid-container {
    text-align: center;
    margin-bottom: 2em;
}