.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Title {
  text-align: center;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.App-text {
  color: #11a4d0ab;
  background: none;
  border: none;
  font-size: calc(10px + 2vmin);
  outline: none;
}

.navBar {
  background-color: #11a4d0ab;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  max-width: 1500px;
}

.nav-logo {
  color: chocolate;
  align-items: center;
  margin-left: 10px;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 0px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #9c6443;
}

.nav-item .active {
  color: #11a4d0ab;
  background-color: #9c6443;
  border-radius: 1vh;
  border: 3px solid #282c34;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: inherit;
  }
  .nav-item .active {
    color: #9c6443;
    border: none;
  }
  .nav-links {
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #9c6443;
  }
}